#content {
    display:flex;
}
 
.box
{
    text-align:center;
    padding:0;
    margin:0;
    box-shadow:none;
}
 
.box-forces {
    width:25%;
    height:100%;
}
 
.box-actions {
    width:25%;
    height:100%;
}
 
.thing.bigButton {
    display:block;
    margin:auto;
    position:relative;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
